beautifulsoup4==4.9.3
Flask==1.1.2
fpdf==1.7.2
matplotlib==3.2.0
newspaper3k==0.2.8
nltk==3.5
numpy==1.19.5
pdfkit==0.6.1
PyPDF2==1.26.0
python-docx==0.8.10
pytz==2020.5
PyYAML==5.3.1
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.0
spacy==2.3.5
tensorflow==2.4.0
torch==1.7.1
validators==0.18.2
wordcloud==1.8.1
bert-extractive-summarizer==0.6.1