<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>PDF</title>

    <!-- Favicon -->
    <link rel="icon" href="static/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>

<body class="light-version">
    <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="dream-load"></div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container light breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar light justify-content-between" id="dreamNav">

                    <!-- Logo -->
                    <a class="nav-brand light" href="#"><img src="static/img/self/Background.svg" alt="logo"> By Abheet</a>

                    <div class="classy-navbar-toggler demo">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <div class="classy-menu">

                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="{{ url_for('api.home') }}">Home</a></li>
                                <li><a href="https://www.linkedin.com/in/abheet-singh-isher-951920175">LinkedIn</a></li>
                                <li><a href="contact-us.html">About me</a></li>
                            </ul>

                            
                            
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="breadcumb-area clearfix dzsparallaxer auto-init" data-options='{direction: "normal"}'>
        <div class="divimage dzsparallaxer--target" style="width: 101%; height: 130%; background-image: url(static/img/bg-img/bg-2.jpg)"></div>
        <div class="breadcumb-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <nav aria-label="breadcrumb" class="breadcumb--con text-center">
                            <h2 class="w-text title wow fadeInUp" data-wow-delay="0.2s">Summarization using a uploaded document</h2>
                            
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 10px 0;"></div>

    <section class="section-padding-100 contact_us_area" id="contact" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                            <span>Extractive BERT summarizer by ©Abheet</span>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Get your Summary here!</h2>
                        <p class="wow fadeInUp mb-3" data-wow-delay="0.4s">You can see the result here or you can download a DOCX file</p> <!-- Reduced margin-bottom -->
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="contact_form">
                        <form action="{{ url_for('api.download') }}" method="post" enctype="multipart/form-data" id="main_contact_form" novalidate>
                            <div class="row">
                                <div class="col-12">
                                    <div id="success_fail_info"></div>
                                </div>

                                <div class="col-12">
                                    <div class="group wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="text-center"> 
                                            {{ summary }}
                                        </div>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label></label>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="upload-section mt-3" style="margin-bottom: 50px;"> <!-- Added margin-bottom -->
        <div class="container">
            <h2 class="text-center mb-3">Upload Document for Summarization</h2> <!-- Reduced bottom margin -->
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form action="{{ url_for('api.PDF_result') }}" method="post" enctype="multipart/form-data" id="upload_form" novalidate>
                        <div class="form-group">
                            <label for="file">Choose PDF, Word, or TXT file: <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" 
                                       name="name" 
                                       id="file" 
                                       accept=".pdf,.docx,.txt" 
                                       class="custom-file-input" 
                                       required
                                       oninvalid="this.setCustomValidity('Please choose a file')"
                                       oninput="this.setCustomValidity('')">
                                <label class="custom-file-label" for="file">Choose file</label>
                            </div>
                        </div>
                        <div class="text-center mt-2"> <!-- Reduced top margin -->
                            <button type="submit" class="btn more-btn">Summarize</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer-area bg-img" >
        <div class="footer-content-area mt-0">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="footer-copywrite-info">
                            <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                                <div class="footer-logo">
                                    <a href="#"><img src="static/img/self/Background.svg" alt="logo"> Abheet Singh Isher </a>
                                </div>
                                <p>A full-stack software developer experienced in building web applications and data-driven solutions. My portfolio showcases projects utilizing technologies like Python (Flask), JavaScript (React), and cloud services (AWS, Azure). Interested in AI and building efficient, scalable systems.</p>
                            </div>
                            <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                                <a href="https://github.com/abheet19"><i class="fa fa-github" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/abheet_singh27/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="https://www.linkedin.com/in/abheet-singh-isher-951920175"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a href="https://api.whatsapp.com/send?phone=919682396948"><i class="fa fa-whatsapp" aria-hidden="true" ></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4 col-md-6">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                                <h5>Copyright ©2021 All rights reserved</h5>
                                
                            </div>
                        </div>
                    </div>
                    
                    

                    <div class="col-12 col-lg-4 col-md-6 ">
                        <div class="contact_info_area d-sm-flex justify-content-between">
                            <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                                <h5>CONTACT ME</h5>
                                <p>Karan Nagar</p>
                                <p>Jammu,Jammu and Kashmir,180001</p>
                                <p>+91-968-239-6948</p>
                                <p>abheet19@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </footer>

    <!-- ########## All JS ########## -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/dzsparallaxer.js"></script>
    <script src="static/js/script.js"></script>
    <script>
    document.getElementById("file").addEventListener("change", function() {
        var fileName = this.files[0].name;
        var nextSibling = this.nextElementSibling;
        nextSibling.innerText = fileName;
    });
    </script>

</body>

</html>